img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 150px;
}
.search-box{
    display: block;
    width: 50%;
    height: 50px;
    border-radius: 50px;
    border-style: solid;
    border-color: aliceblue;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
}
